.layout-3_rounded_images_beside_text {
  .images {
    position: relative;
    width: 100%;
    height: 48vw;

    @include media-breakpoint-up(lg) {
      max-width: 610px;
      height: 60vw;
      max-height: 730px;
    }

    .image {
      position: absolute;
      width: 50%;

      img {
        @include media-breakpoint-down(lg) {
          border: 2px solid $white;
        }
      }

      &:nth-child(1) {
        left: 0;

        @include media-breakpoint-up(lg) {
          width: percentage(328/610);
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:nth-child(2) {
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(lg) {
          width: percentage(333/610);
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          z-index: 1;
        }
      }

      &:nth-child(3) {
        right: 0;

        @include media-breakpoint-up(lg) {
          width: percentage(355/610);
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}