html {
  @include media-breakpoint-up(xl) {
    font-size: 1.15rem;
  }
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container {
  // max-width: 2100px;
  // margin: auto;
  // background-color: $white;
}

.section {
  position: relative;

  [class^="container"] {
    position: relative;
  }
}