body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-up(lg) {
    // font-size: 1.2rem;
  }
}

.section {
  position: relative;

  .container {
    position: relative;
  }
}