.layout-features {
  @include media-breakpoint-up(lg) {
    height: 75vh;
    max-height: 650px;
  }

  .feature {
    height: 25vw;

    img {
      transition: transform .5s ease-in-out;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }

      .overlay::after {
        background-color: rgba($black, .2);
      }
    }
  }
}