#header {
  @include media-breakpoint-up(xl) {
    height: 80px;
  }

  body.admin-bar & {
    @include media-breakpoint-up(sm) {
      top: 46px;
    }

    @include media-breakpoint-up(md) {
      top: 32px;
    }
  }

  .navbar-brand {
    position: absolute;
    top: 4px;

    @include media-breakpoint-up(xl) {
      top: 6px;
    }

    img {
      max-width: 70vw;
    }
  }

  .navbar-toggler-container {
    height: 15vw;
    max-height: 80px;

    .hamburger {
      margin-right: -$hamburger-padding-x;

      &:not(.collapsed) {
        @extend .is-active;
      }
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(md) {
      z-index: 2;
    }
  }
}