#header {
  border-bottom: 4px solid $primary;

  body.admin-bar & {
    @include media-breakpoint-up(sm) {
      top: 46px;
    }

    @include media-breakpoint-up(md) {
      top: 32px;
    }
  }

  .navbar-brand {
    img {
      width: 315px;
      max-width: 50vw;
    }
  }

  .hamburger {
    margin-right: -$hamburger-padding-x;

    &:not(.collapsed) {
      @extend .is-active;
    }
  }

  .nav-link {
    font-family: $font-family-sans-serif-alt;
  }
}