.layout-hero {
  @include media-breakpoint-up(lg) {
    height: 50vw;
    max-height: 700px;
  }

  .texas-stamp {
    position: absolute;
    top: .5rem;
    left: .5rem;
    width: 12vw;
    max-width: 132px;
    opacity: .2;

    @include media-breakpoint-up(lg) {
      top: 2rem;
      left: 2rem;
    }
  }
}