.object-position {
  &-top {
    object-position: top;
  }

  &-center {
    object-position: center;
  }

  &-bottom {
    object-position: bottom;
  }
}

.bg-cover {
  overflow: hidden;
  transition: transform .5s ease-in-out;

  &, .rellax, img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    object-fit: cover;
  }

  .rellax {
    .section:not(:first-child) & {
      // height: 60vh;
    }
  }
}

.overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    transition: background-color .5s;
  }
}

.text-shadow {
  text-shadow: 2px 4px 3px rgba($black, .3);
}