@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  .bg#{$infix}-cover {
    position: relative;
  }

  @include media-breakpoint-up($breakpoint) {
    .w#{$infix}-auto {
      width: auto !important;
    }

    .h#{$infix}-100 {
      height: 100% !important;
    }

    .bg#{$infix}-cover {
      overflow: hidden;
    
      &, .rellax, .bg-cover-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
      img {
        object-fit: cover;
      }
    }
  }
}

.object-fit-cover {
  object-fit: cover;
}

.object-position {
  &-top {
    object-position: top;
  }

  &-center {
    object-position: center;
  }

  &-bottom {
    object-position: bottom;
  }
}

.overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($black, .5);
    transition: background-color .5s;
  }
}

.text-shadow {
  text-shadow: 2px 4px 3px rgba($black, .3);
}

.br-mobile-none {
  @include media-breakpoint-down(lg) {
    br {
      display: none;
    }
  }
}

// .ratio {
//   overflow: hidden;

//   img {
//     object-fit: cover;
//     width: 100%;
//     height: 100%;
//     transition: transform .25s ease-in-out;
//   }

//   a:hover & {
//     img {
//       transform: scale(1.05);
//     }
//   }
// }