// CUSTOM
$header-height-xs: 15vw;
$header-height-lg: 80px;


// FONTAWESOME
$fa-font-path: "dist/fonts";

// HAMBURGER MENU
$hamburger-padding-x           : map-get($spacers, 2);
$hamburger-padding-y           : map-get($spacers, 2);
$hamburger-layer-width         : 2rem;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : $primary;
$hamburger-layer-border-radius : 2px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $primary;
$hamburger-active-hover-opacity: 1;
