{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
    <div class="container py-5 py-lg-6 text-center">
      <h1>Page Not Found</h1>
      <p>Sorry, we couldn't find what you're looking for.</p>
    </div>
	</div><!-- /content-wrapper -->
{% endblock %}