<footer id="footer" class="bg-primary text-white">
  <div class="container py-4 py-lg-5">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-auto">
        <div class="row">
          <div class="col-12 col-lg-auto">
            <ul class="nav flex-column text-center text-lg-start">
              <li class="nav-item">
                <a class="nav-link fw-light text-white" href="#">
                  Need Help?
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-light text-white" href="#">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>

          <div class="col-12 col-lg-auto">
            <ul class="nav flex-column text-center text-lg-start">
              <li class="nav-item">
                <a class="nav-link fw-light text-white" href="#">
                  Resources
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-light text-white" href="#">
                  Privacy Policy
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link fw-light text-white" href="#">
                  Sitemap
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-auto mt-4 mt-lg-0">
        <img class="d-block mx-auto img-fluid" src="{{ theme.path }}/dist/assets/logo-inline-invert.svg" alt="Vault Foods&trade;">

        <div class="d-flex justify-content-center mt-4">
          <p class="text-center text-lg-start">
            Texas Star Nut and Food Co.<br>
            206 Market Ave.<br>
            Boerne, TX 78006<br>
            1-866-455-8300
          </p>
        </div>
      </div>
    </div>

    <div class="mt-3 mt-lg-5">
      <span>&copy;{{"now"|date('Y')}} Texas Star Nut &amp; Food Co. All Rights Reserved.</span>
    </div>
  </div>
</footer>