<nav id="header" class="navbar fixed-top navbar-expand-xl navbar-light bg-white shadow">
  <div class="container-fluid ps-2 ps-xl-4">
    <a class="navbar-brand" href="{{ site.link }}#">
      <img src="{{ theme.path }}/dist/assets/logo.svg" alt="Texas Star Nut &amp; Food Co.&trade;">
    </a>

    <div class="navbar-toggler-container d-flex d-xl-none justify-content-end align-items-center w-100">
      <button class="hamburger hamburger--squeeze collapsed lh-1" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse justify-content-end" id="main-menu">
      <ul class="navbar-nav text-center">
        <li class="nav-item">
          <a class="nav-link" href="#what-is-vault">
            What is Vault?
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#features">
            Features
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#how-it-works">
            How it works
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#press">
            Press
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#more-info">
            More info
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>