{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
      <div class="container py-5 py-lg-6">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
      </div>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}