{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
    {% for layout in post.meta('layouts') %}
      {% include 'layouts/' ~ layout.acf_fc_layout ~ '.twig' %}
    {% endfor %}
  </article>
</div><!-- /content-wrapper -->
{% endblock %}