{% if post.features %}
  {% set features = post.meta('features') %}

  <section class="section layout-features">
    <div class="row g-0 h-100">
      <div class="col-12 col-lg-6">
        {% include 'partial/feature.twig' with { feature: features[0] } %}
      </div>

      <div class="col-12 col-lg-6">
        <div class="row g-0 h-100 align-items-lg-stretch">
          <div class="col-12">
            {% include 'partial/feature.twig' with { feature: features[1] } %}
          </div>

          <div class="col-12">
            {% include 'partial/feature.twig' with { feature: features[2] } %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}